@import url(global.css);
@import url(header.css);
@import url(main.css);

#page{
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 39.18rem;
}

@media screen and (max-width: 39.18rem){
    #page{
        width: 90vw;
    }
}